body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}
.photo img {
  width: 200px;
  height: 270px;
  border: solid grey 5px;
  border-radius: 35%;
  opacity: 0.8;
}
.detail {
  display: flex;
  align-items: center;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*	fixed = parallax
	scroll = normal*/

  background-attachment: fixed;
}

.certification {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 10em;
}

.certification img {
  padding: 0.5em;
  width: 400px;
  height: 300px;
}
.certification a:hover {
  transform: scale(1.5);
}

.icons i {
  font-size: 2em;
  color: rgb(160, 148, 148);
  margin-top: -2em;
}
.icons i:hover {
  font-size: 3em;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
  grid-gap: 2em;
  padding-bottom: 10em;
  position: relative;
  bottom: 12em;
}
.projects img {
  width: 300px;
  height: 200px;
  background-color: #666;
  border: solid #444 8px;
}
.pimg1 {
  background-image: url("img/tanner-van-dera-oaQ2mTeaP7o-unsplash.jpg");

  min-height: 100%;
}

.pimg2 {
  background-image: url("img/person-using-black-tablet-computer-3740387.jpg");
  min-height: 100%;
}

.pimg3 {
  background-image: url("img/person-using-black-tablet-computer-3740860.jpg");
  min-height: 100%;
}

.section {
  text-align: center;
  padding: 50px 80px;
}

.section-light {
  background-color: #f4f4f4;
  color: #666;
}

.section-dark {
  background-color: #282e34;
  color: #ddd;
}

.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 1;
}

.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans {
  background-color: transparent;
}
.heading1:hover {
  transform: scale(2) skew(-20deg);
  transform: translate(70px, -50px);
  /* transform: translate(50px, -50px); */
  color: rgb(236, 240, 14);
  font-size: 3em;
}
.contact-info {
}
.contact {
  display: block;
  width: 600px;
  height: 3.2em;
  border: solid 4px #444;
  color: black;
  background-color: rgb(240, 238, 236);
  margin: 15px;
  font-size: 22px;
}
.contact:hover {
  transform: scale(1.2);
  color: white;
  background-color: tomato;
}
.items:hover {
  transform: skew(10deg);

  animation: skew 3s infinite;
}
@keyframes skew {
  0% {
    transform: skew(10deg, 10deg);
  }
  100% {
    transform: skew(-10deg, -10deg);
  }
}

@media (min-width: 1400px) {
  .detail div {
    padding: 0 3em 0 3em;
  }
}
/*For Mobile Responsiveness*/
@media (max-width: 650px) {
  .heading1 {
    font-size: 1.2em;
    color: rebeccapurple;
    border: rgb(240, 238, 236);
  }
  .heading1:hover {
    font-size: 1.4em;
    color: white;
  }

  .detail {
    display: flex;
    flex-direction: column;
  }
  .pimg1,
  .pimg2,
  .pimg3 {
    background-attachment: scroll;
    max-width: 100%;
  }
  .pimg3 {
    height: 210%;
  }
  .certification {
    display: flex;
    flex-direction: column;
  }

  .projects {
    display: grid;
    grid-template-columns: 1fr;
    margin: -10em 0 10em 0;
  }
}
